<div class="page-content-wrapper">
		<div class="page-content">
			<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
			<div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
							<h4 class="modal-title">Modal title</h4>
						</div>
						<div class="modal-body">
							 Widget settings form goes here
						</div>
						<div class="modal-footer">
							<button type="button" class="btn blue">Save changes</button>
							<button type="button" class="btn default" data-dismiss="modal">Close</button>
						</div>
					</div>
					<!-- /.modal-content -->
			 	</div>
				<!-- /.modal-dialog -->
			</div>
			<!-- /.modal -->
			<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->

			<!-- BEGIN PAGE HEADER-->
			<h3 class="page-title">
			Number Mangement
			</h3>
			<!-- END PAGE HEADER-->
          
<div class="row">
				<div class="col-md-12">
					<div class="portlet box blue" id="form_wizard_1">
						<div class="portlet-title">
							<div class="caption">
								 Add Minutes to number
							</div>
							
						</div>
						<div class="portlet-body form">
							<form action="#" class="form-horizontal" id="submit_form" method="POST">
								<div class="form-wizard">
									<div class="form-body">
										<ul class="nav nav-pills nav-justified steps">
											<li>
												<a href="#tab1" data-toggle="tab" class="step">
												<span class="number">
												1 </span>
												<span class="desc">
												 Add Minutes </span>
												</a>
											</li>
											
										
											<li>
												<a href="#tab4" data-toggle="tab" class="step">
												<span class="number">
												2 </span>
												<span class="desc">
												<i class="fa fa-check"></i> Make Payment </span>
												</a>
											</li>
                                            <li>
												<a href="#tab5" data-toggle="tab" class="step">
												<span class="number">
												3 </span>
												<span class="desc">
												<i class="fa fa-check"></i> Confirm Payment </span>
												</a>
											</li>
										</ul>
										<div id="bar" class="progress progress-striped" role="progressbar">
											<div class="progress-bar progress-bar-success">
											</div>
										</div>
										<div class="tab-content">
											<div class="alert alert-danger display-none">
												<button class="close" data-dismiss="alert"></button>
												You have some form errors. Please check below.
											</div>
											<div class="alert alert-success display-none">
												<button class="close" data-dismiss="alert"></button>
												Your form validation is successful!
											</div>
											

                                            <div  id="tab1" ng-show="showtab1">
												
													<h3 class="block">Select Blocks of Minutes</h3>
                                                    <div class="form-group">
													<label class="control-label col-md-3">Select Blocks of Minutes <span class="required">
													* </span>
													</label>
													<div class="col-md-4">
														<select ng-model="blockOfMin" ng-change="selectBlock(blockOfMin)" ng-options="pp.nameOfBlock for pp in pplist"></select>
														<span class="help-block">
														 </span>
													</div>
												</div>
												<div class="form-group">
													<label class="control-label col-md-3">Price Per Block <span class="required">
													* </span>
													</label>
													<div class="col-md-4">
														<input type="text" class="form-control" name="price"  disabled ng-model="blockOfMin.noOfMinutes"/>
														<span class="help-block">
														 </span>
													</div>
												</div>
                                                <div class="form-group">
													<label class="control-label col-md-3">Total Price <span class="required" >
													* </span>
													</label>
													<div class="col-md-4">
														<input type="text" class="form-control" name="totalprice"  disabled ng-model="blockOfMin.blockPrice"/>
														<span class="help-block">
														 </span>
													</div>
												</div>
										<div class="form-actions">
									<div class="row">
										<div class="col-md-offset-3 col-md-9">
											<!--  <a href="#tab2" class="btn blue">
												Continue <i class="m-icon-swapright m-icon-white"></i>
											</a>  -->
											<a href="#tab2" data-toggle="tab" class="step">
												<button type="button" class="btn blue uppercase pull-center" ng-click="continueTab1()">Continue</button> 
										</a>
										</div>
									</div>
								</div>
									
                                        
											</div>
                                      
											<div class="" id="tab4" ng-show="showtab2">
											<h3 class="block">Provide your billing details</h3>
											<div class="form-group">
												<label class="control-label col-md-3">Billing
													Address<span class="required"> * </span>
												</label>
												<div class="col-md-4">
													<input type="text" class="form-control"
														name="Billingaddress" ng-model="paymentDetails.address"/> <span class="help-block">
													</span>
												</div>
											</div>
											<div class="form-group">
												<label class="control-label col-md-3">City<span
													class="required" > * </span>
												</label>
												<div class="col-md-4">
													<input type="text" class="form-control" name="city" ng-model="paymentDetails.city"/> <span
														class="help-block"> </span>
												</div>
											</div>
											<div class="form-group">
												<label class="control-label col-md-3">State <span
													class="required"> * </span>
												</label>
												<div class="col-md-4">
													<input type="text" placeholder="" class="form-control"
														name="state" ng-model="paymentDetails.state"/> <span class="help-block"> </span>
												</div>
											</div>
											<div class="form-group">
												<label class="control-label col-md-3">Country<span
													class="required"> * </span>
												</label>
												<div class="col-md-4">
													<select class="form-control country" name="lcountry" ng-model="paymentDetails.country">
														<option value="">Select...</option>
														<option value="Option 1">France</option>
														<option value="Option 2">India</option>
														<option value="Option 3">USA</option>
														<option value="Option 4">Option 4</option>
													</select>
												</div>
											</div>
											<div class="form-group">
												<label class="control-label col-md-3">Zip Code<span
													class="required"> * </span>
												</label>
												<div class="col-md-4">
													<input type="text" placeholder="" class="form-control"
														name="zipcode" ng-model="paymentDetails.zip"/> <span class="help-block"> </span>
												</div>
											</div>
											<div class="form-group">
												<label class="control-label col-md-3">Phone Number<span
													class="required"> * </span>
												</label>
												<div class="col-md-4">
													<input type="text" placeholder="" class="form-control"
														name="phone" ng-model="paymentDetails.phone"/> <span class="help-block"> </span>
												</div>
											</div>

											<hr>
											<h3>Provide your credit card details</h3>



											<div class="form-group">
												<label class="control-label col-md-3">Card Holder
													Name <span class="required"> * </span>
												</label>
												<div class="col-md-4">
													<input type="text" class="form-control" name="card_name" ng-model="paymentDetails.cardHolderName"/>
													<span class="help-block"> </span>
												</div>
											</div>
											<div class="form-group">
												<label class="control-label col-md-3">Card Number <span
													class="required"> * </span>
												</label>
												<div class="col-md-4">
													<input type="text" class="form-control" name="card_number" ng-model="paymentDetails.cardNumber"/>
													<span class="help-block"> </span>
												</div>
											</div>
											<div class="form-group">
												<label class="control-label col-md-3">CVC <span
													class="required"> * </span>
												</label>
												<div class="col-md-4">
													<input type="text" placeholder="" class="form-control"
														name="card_cvc" ng-model="paymentDetails.cvc"/> <span class="help-block"> </span>
												</div>
											</div>
											<div class="form-group">
												<label class="control-label col-md-3">Expiration(MM/YYYY)
													<span class="required"> * </span>
												</label>
												<div class="col-md-4">
													<input type="text" placeholder="MM/YYYY" maxlength="7"
														class="form-control" name="card_expiry_date" ng-model="paymentDetails.expiration"/> <span
														class="help-block"> e.g 11/2020 </span>
												</div>
											</div>

											<div class="form-group"></div>
											<div class="form-actions">
									<div class="row">
										<div class="col-md-offset-3 col-md-9">
											<!--  <a href="#tab2" class="btn blue">
												Continue <i class="m-icon-swapright m-icon-white"></i>
											</a>  -->
											<a href="#tab3" data-toggle="tab" class="step">
												<button type="button" class="btn blue uppercase pull-center" ng-click="backTab2()">back</button> 
										</a>
										<a href="#tab5" data-toggle="tab" class="step">
												<button type="button" class="btn blue uppercase pull-center" ng-click="continueTab2()">Continue</button> 
										</a>
										</div>
									</div>
								</div>
										</div>
                                            <iv class="tab-pane" id="tab5" ng-show="showtab3">
											<h3 class="block">Confirm your account</h3>
											<h4 class="form-section">Account</h4>
											<div class="form-group">
												<label class="control-label col-md-3">Username:</label>
												<div class="col-md-4">
													<p class="form-control-static" data-display="username">{{paymentDetails.userName}}
													</p>
												</div>
											</div>
											<div class="form-group">
												<label class="control-label col-md-3">Email:</label>
												<div class="col-md-4">
													<p class="form-control-static" data-display="email">{{paymentDetails.email}}</p>
												</div>
											</div>

											<h4 class="form-section">Billing</h4>
											<div class="form-group">
												<label class="control-label col-md-3">Card Holder
													Name:</label>
												<div class="col-md-4">
													<p class="form-control-static" data-display="card_name">{{paymentDetails.cardHolderName}}
													</p>
												</div>
											</div>
											<div class="form-group">
												<label class="control-label col-md-3">Card Number:</label>
												<div class="col-md-4">
													<p class="form-control-static" data-display="card_number">{{paymentDetails.cardNumber}}
													</p>
												</div>
											</div>
											<div class="form-group">
												<label class="control-label col-md-3">CVC:</label>{{paymentDetails.cvc}}
												<div class="col-md-4">
													<p class="form-control-static" data-display="card_cvc">
													</p>
												</div>
											</div>
											<div class="form-group">
												<label class="control-label col-md-3">Expiration:</label>
												<div class="col-md-4">
													<p class="form-control-static"
														data-display="card_expiry_date">{{paymentDetails.expiration}}</p>
												</div>
											</div>
										<!-- 	<div class="form-group">
												<label class="control-label col-md-3">Payment
													Options:</label>
												<div class="col-md-4">
													<p class="form-control-static" data-display="payment[]">
													</p>
												</div>
											</div> -->
											<div class="form-actions">
									<div class="row">
										<div class="col-md-offset-3 col-md-9">
											<!--  <a href="#tab3" class="btn blue">
												Continue <i class="m-icon-swapright m-icon-white"></i>
											</a>  -->
											<a href="#tab3" data-toggle="tab" class="step">
												<button type="button" class="btn blue uppercase pull-center" ng-click="backTab3()">back</button> 
										</a>
										
											<a href="" data-toggle="tab" class="step">
															<button type="button"
																class="btn blue uppercase pull-center" ng-click="submitPayment(paymentDetails)">Submit</button>
														</a>
										
										</div>
									</div>
								</div>
										</div>
											
										</div>
									</div>
									</form>
									<!-- <div class="form-actions">
										<div class="row">
											<div class="col-md-offset-3 col-md-9">
												<a href="javascript:;" class="btn default button-previous">
												<i class="m-icon-swapleft"></i> Back </a>
												<a href="javascript:;" class="btn blue button-next">
												Continue <i class="m-icon-swapright m-icon-white"></i>
												</a>
												<a href="javascript:;" class="btn green button-submit">
												Submit <i class="m-icon-swapright m-icon-white"></i>
												</a>
											</div>
										</div>
									</div> -->
								</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>